 /* styles taken from http://www.w3schools.com/css/css_rwd_grid.asp */
 
 * {
     box-sizing: border-box;
 }
 
 body {
     font-family: arial, sans-serif;
 }
 
 h1,
 h2 {
     text-align: center;
 }
 /* for mobile */
 
 [class*="col-"] {
     width: 100%;
     float: left;
     padding: 15px;
 }
 
 @media only screen and (min-width: 400px) {
     /* For tablets and large phones: */
     background-color: green;
     .col-m-1 {
         width: 8.33%;
     }
     .col-m-2 {
         width: 16.66%;
     }
     .col-m-3 {
         width: 25%;
     }
     .col-m-4 {
         width: 33.33%;
     }
     .col-m-5 {
         width: 41.66%;
     }
     .col-m-6 {
         width: 50%;
     }
     .col-m-7 {
         width: 58.33%;
     }
     .col-m-8 {
         width: 66.66%;
     }
     .col-m-9 {
         width: 75%;
     }
     .col-m-10 {
         width: 83.33%;
     }
     .col-m-11 {
         width: 91.66%;
     }
     .col-m-12 {
         width: 100%;
     }
 }
 
 @media only screen and (min-width:768px) {
     /* For Desktop */
     .col-1 {
         width: 8.33%;
     }
     .col-2 {
         width: 16.66%;
     }
     .col-3 {
         width: 25%;
     }
     .col-4 {
         width: 33.33%;
     }
     .col-5 {
         width: 41.66%;
     }
     .col-6 {
         width: 50%;
     }
     .col-7 {
         width: 58.33%;
     }
     .col-8 {
         width: 66.66%;
     }
     .col-9 {
         width: 75%;
     }
     .col-10 {
         width: 83.33%;
     }
     .col-11 {
         width: 91.66%;
     }
     .col-12 {
         width: 100%;
     }
 }
 
.row::after {
    content: "";
    clear: both;
    display: block;
}
 
 img {
     max-width: 100%;
     height: auto;
 }